<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderPage"
        tools:targetApi="31">
        <activity android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".UserHomeActivity" />
        <activity android:name=".Register" />
        <activity android:name=".PlaceOrder" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".OrderConfirmationActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".EntireOrder" />
        <activity android:name=".ord" />
        <activity android:name=".SearchOrderActivity" />
        <activity android:name=".invent" />
        <activity android:name=".Inventory" />
        <activity android:name=".CustomInventoryActivity" />
        <activity android:name=".ConfirmedOrderActivity" />
        <activity android:name=".ProceedActivity" />
        <activity android:name=".OrderHistoryActivity" />
        <activity android:name=".TrackAddressActivity" />
        <activity android:name=".AddressActivity"/>
        <activity android:name=".Monitoring"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDMnD_2rMtzH8-vSxmMuJ6PD9tR4cpyxpM"/>

    </application>

</manifest>